#addItemPage
  //display: flex
  //justify-content: center
  //flex-direction: column
  width: 80%
  margin: 0 10% 0 10%
  form
    #flexWrap
      display: flex
      flex-direction: row
      flex-wrap: wrap
      .form-group
        width: 40%
        margin: 10px 15px
    button
      margin: 10px 15px

  label
    color: deeppink
    display: block